body {
  background: #F2F2F2;
}
section {
  padding: 10px;
}
.nav-list {
  width: 100%;
  position: relative;
  float: left;
}
.nav-list ul {
  display: -moz-box;
  display: -webkit-box;
  display: box;
}
.nav-list li {
  width: 20%;
  text-align: center;
  float: left;
}
.whole-card {
  display: -webkit-box;
  display: box;
}
.whole-card .card-bg {
  -webkit-box-flex: 1;
  -webkit-border-radius: 10px 0 0 10px;
  border-radius: 15px 0 0 15px;
  background: url(img/mc_decoration@2x.png) no-repeat 0 0;
  background-size: auto;
  min-width: 80px;
  max-width: 145px;
}
.whole-card .card-info {
  -webkit-box-flex: 2;
  -webkit-border-radius: 0 10px 10px 0;
  border-radius: 0 15px 15px 0;
  background-color: #FFF;
}
.whole-card .title {
  padding: 15px 0 30px 15px;
}
.whole-card .user-name {
  padding: 0 0 10px 15px;
}
.whole-card .card-no {
  padding: 0 0 15px 15px;
}
.whole-card .hint {
  text-align: center;
  clear: both;
  padding-top: 10px;
}
.whole-card p {
  color: #9d9992;
  font-size: 14px;
}
.whole-card h5 {
  font-size: 14px;
  padding: 10px 0;
}
